{% extends 'base.html.twig' %}

{% block title %}Acme Flowers{% endblock %}

{% block content %}
    <h1>Acme Flowers</h1>

    <nav>
        <ul>
            <li><a href="{{ path('app_article_list') }}">Articles</a></li>
        </ul>
    </nav>
{% endblock %}
